<mat-card class="marginContent">
  <div class="my-overlay" *ngIf="isLoading">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </div>

    <div class="mat-elevation-z8">
      <div>
        <form
          fxLayout="column wrap"
          fxLayoutAlign="space-between center"
          fxFlex="100"
          fxFlex.gt-sm="100"
          [formGroup]="pedidoForm"
          (submit)="salvarPedido($event)">
          <mat-card-header>
            <mat-card-title>
              <ng-container *ngIf="!visualizando">
                <h2>Novo Pedido</h2>
              </ng-container>
              <ng-container *ngIf="visualizando">
                <h2>Editar Pedido</h2>
              </ng-container>
            </mat-card-title>
          </mat-card-header>

          <div fxLayout="row" fxLayoutGap="10px" fxFlexOffset="0px" style="width: 90%;">

            <mat-form-field style="width: 50%;">   
              <mat-label>Usuário</mat-label>
              <input
                matInput
                formControlName="codigoUsuario"
                placeholder="Usuário"
                autocomplete="off"
                readonly="true"               
                type="text"/>
            </mat-form-field>

            <mat-form-field style="width: 50%;" >
              <mat-label>Número Pedido Web</mat-label>
              <input
                matInput
                formControlName="numeroPedidoWeb"
                placeholder="Número Pedido Web"
                autocomplete="off"
                readonly="true"
                type="text"/>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutGap="10px" fxFlexOffset="0px" style="width: 90%;">

            <mat-form-field style="width: 50%;">   
              <mat-label>Tipo de Pedido</mat-label>            
              <mat-select 
                placeholder="Tipo de Pedido"                
                autofocus
                formControlName="tipoPedido"
                [disabled]="disabled ? '' : visualizando && !copiando">
                    <mat-option
                        *ngFor="let button of tipoPedidoButton.buttons"
                        [value]="button.cod">{{ button.descricao }}</mat-option>
              </mat-select>
             </mat-form-field>

            <mat-form-field style="width: 50%;" >
              <mat-label>Situação</mat-label>
              <input
                matInput
                formControlName="situacaoPedido"
                placeholder="situacaoPedido"
                autocomplete="off"
                readonly="true"
                value="DIGITADO"
                type="text"/>
            </mat-form-field>
          </div>      

          <mat-form-field style="width: 90%;">   
            <mat-label>Representante</mat-label>
            <input
              matInput
              formControlName="codigoRepresentante"
              placeholder="Códgo"
              [matAutocomplete]="autorepres"
              (input)="filtraRepresentantes($event.target.value)"
              type="text"/>
              <mat-autocomplete autoActiveFirstOption="true" #autorepres="matAutocomplete"  [displayWith]="displayRepresentante" (optionSelected)='getCustomers($event.option.value)'>
                <mat-option *ngFor="let repres of represantantesFiltrados | async" [value]="repres" >
                  {{repres.nomeRepresentante}}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>

          <mat-form-field style="width: 90%;">   
            <mat-label>Cliente</mat-label>
            <input
              matInput
              formControlName="codigoEmitente"
              placeholder="Códgo"
              [matAutocomplete]="autoEmitente"
              (input)="filtraEmitentes($event.target.value)"
              type="text"/>
              <mat-autocomplete autoActiveFirstOption="true" #autoEmitente="matAutocomplete" [displayWith]="displayEmitente" (optionSelected) = "selecionaEmitente($event)" >
                <mat-option *ngFor="let emitente of emitentesFiltrados | async" [value]="emitente" >
                  {{ emitente.descricao }}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>

          <div fxLayout="row" fxLayoutGap="10px" fxFlexOffset="0px" style="width: 90%;">

            <mat-form-field style="width: 40%;">   
              <mat-label>Titulos Vencidos</mat-label>
              <input
                matInput
                formControlName="titulosVencidos"
                autocomplete="off"
                readonly="true"
                type="text"/>
            </mat-form-field>

            <mat-form-field style="width: 40%;" >
              <mat-label>Titulos A Vencer</mat-label>
              <input
                matInput
                formControlName="titulosVencer"
                autocomplete="off"
                readonly="true"
                type="text"/>
            </mat-form-field>

            <div style="width: 20%; vertical-align: baseline;">
              <button
                mat-raised-button
                color="basic"
                matTooltip="Visualizar Títulos"
                [disabled]="disableVisualizaTitulos()"
                (click)="abreDetalhesTitulos($event);" href="javascript: void(0);">
              <mat-icon>money</mat-icon>
              </button>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="10px" fxFlexOffset="0px" style="width: 90%;">

            <mat-form-field style="width: 50%;">   
              <mat-label>CNPJ</mat-label>
              <input
                matInput
                formControlName="cnpj"
                placeholder="CNPJ"
                autocomplete="off"
                readonly="true"
                type="text"/>
            </mat-form-field>

            <mat-form-field style="width: 50%;">   
              <mat-label>Email</mat-label>
              <input
                matInput
                formControlName="email"
                placeholder="Email"
                autocomplete="off"
                readonly="true"
                type="text"/>
            </mat-form-field>

          </div>

          <mat-form-field style="width: 90%;">   
            <mat-label>Endereço</mat-label>
            <input
              matInput
              formControlName="endereco"
              placeholder="Endereço"
              autocomplete="off"
              type="text"
              readonly="true"/>
          </mat-form-field>

          <mat-form-field style="width: 90%;">   
            <mat-label>Pedido Cliente</mat-label>
            <input
              matInput
              formControlName="pedidoCliente"
              placeholder="Pedido Cliente"
              autocomplete="off"
              type="string"/>
          </mat-form-field>


          <div fxLayout="row" fxLayoutGap="10px" fxFlexOffset="0px" style="width: 90%;">
            <mat-form-field style="width: 50%;" >
              <mat-label>Emissão</mat-label>
              <input
                matInput
                formControlName="dataEmissao"
                autocomplete="off"
                readonly="true"
                type="text"
                />
            </mat-form-field>


            <mat-form-field style="width: 50%;" >
              <mat-label>Data de Entrega</mat-label>
              <input
                matInput
                [matDatepicker]="pickerDataEntrega"
                [min]="minDate"
                formControlName="dataEntrega"
                autocomplete="off"
                type="text"/>
                <mat-datepicker-toggle matSuffix [for]="pickerDataEntrega"></mat-datepicker-toggle>
                <mat-datepicker #pickerDataEntrega></mat-datepicker> 
            </mat-form-field>
          </div>

          <mat-form-field style="width: 90%;">   
            <mat-label>Condição de Pagamento</mat-label>
            <input
              matInput
              formControlName="codigoCondicaoPagamento"
              placeholder="Condição de Pagamento"
              [matAutocomplete]="auto"   
              (input)="filtraCondicaoPagamento($event.target.value)"               
              type="string"/>
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCondicaoPagamento">
                <mat-option *ngFor="let condicao of condicoesFiltradas | async" [value]="condicao">
                  {{condicao.descricaoCondicaoPagamento}}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>

          <div fxLayout="row" fxLayoutGap="10px" fxFlexOffset="0px" style="width: 90%;">

            <mat-form-field style="width: 60%;">   
              <mat-label>Tabela de Preços</mat-label>
              <input
                matInput
                formControlName="numeroTabelaPreco"
                placeholder="Tabela de Preços"
                readonly="true"
                type="text"/>
            </mat-form-field>

            <mat-form-field style="width: 40%;" >
              <input
                matInput
                formControlName="descricaoTabelaPreco"
                placeholder="Descrição Tabela de Preços"
                readonly="true"
                type="text"/>
            </mat-form-field>
          </div>

          <mat-form-field style="width: 90%;">   
            <mat-label>Observações do Cliente</mat-label>
            <textarea
              matInput
              formControlName="observacoesCliente"
              placeholder="Endereço"
              cdkTextareaAutosize
              readonly="true"
              autocomplete="off"></textarea>
          </mat-form-field>

          <mat-form-field style="width: 90%;">   
            <mat-label>Observações do Vendedor</mat-label>
            <textarea
              matInput
              formControlName="observacoesVendedor"
              placeholder="Observações do Vendedor"
              cdkTextareaAutosize
              autocomplete="off"></textarea>              
          </mat-form-field>

          <div fxLayout="row">
            <div fxLayout="row" fxLayoutGap="5px">              
              <div fxLayout="column" fxLayoutAlign="start end">
                <a mat-raised-button
                  color="accent"
                  (click)="pedido && pedido.emitente && listaItemListaPreco && incluirItemPedido();" href="javascript: void(0);"
                  >
                  <mat-icon>add</mat-icon>Inserir Item</a>
                <br>
              </div>
            </div>
          </div>
        
          <div class="mat-elevation-z8" style="min-width: 50%; max-width: 100%; word-break: inherit; overflow: auto;">
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="codigoItem">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Item</th>
                <td mat-cell *matCellDef="let element; let i = index">{{ element.codigoItem }}</td>
              </ng-container>
      
              <ng-container matColumnDef="descricaoItem">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
                <td mat-cell *matCellDef="let element; let i = index">{{ element.descricaoItem }}</td>
              </ng-container>

              <ng-container matColumnDef="unidadeMedida">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>UN</th>
                <td mat-cell *matCellDef="let element; let i = index">{{ element.unidadeMedida }}</td>
              </ng-container>

              <ng-container matColumnDef="quantidadeItem">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Qtde</th>
                <td mat-cell *matCellDef="let element; let i = index">{{ element.quantidadeItem }}</td>
              </ng-container>

              <ng-container matColumnDef="precoUnitario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço Unitário</th>
                <td mat-cell *matCellDef="let element; let i = index">{{ element.precoUnitario }}</td>
              </ng-container>

              <ng-container matColumnDef="precoTotal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço Total</th>
                <td mat-cell *matCellDef="let element; let i = index">{{ element.precoTotal }}</td>
              </ng-container>
        
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef style="max-width: 5%;"></th>
                <td mat-cell *matCellDef="let element" style="max-width: 5%;">
                  <div>
                    <button
                      mat-raised-button
                      color="accent"
                      (click)="editarItemPedido(element,$event)">Editar</button>
                    <button
                      mat-raised-button
                      color="warn"
                      (click)="removerItemPedido(element,$event, i)">Remover</button>
                  </div>
                </td>
              </ng-container>
        
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
      
            <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
          </div>
          
          <mat-card-actions>
            <button mat-raised-button color="accent">Salvar</button>
          </mat-card-actions>

          <mat-card-actions>
            <button mat-raised-button color="warn"
            [routerLink]="['/listar']"
            (click)="$event.preventDefault()"
            >Cancelar</button>
          </mat-card-actions>
          
        </form>
      </div>
    </div>
  </mat-card>