<mat-card class="marginContent">
    <div class="mat-elevation-z8">
      
      <div *ngIf="isLoading" class="overlay-spinner">
        <div class="center-spinner">
          <mat-spinner style="align-self: center; margin: 0 auto;" ></mat-spinner>
        </div>
      </div>
  
        <div>
          <form
            fxLayout="row wrap"
            fxLayout="column"
            fxLayoutAlign="space-between center"
            fxFlex="100"
            fxFlex.gt-sm="100"
            [formGroup]="localArmazenamentoForm"
            (submit)="salvarLocalArmazenamento()">
  
              <mat-card-header>
                  <mat-card-title>
                      <h2 *ngIf="!baseLegalId">Novo Local Armazenamento</h2>
                      <h2 *ngIf="baseLegalId">Editar Local Armazenamento</h2>
                  </mat-card-title>
              </mat-card-header>
    
              <mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
                  <mat-label>Nome Local Armazenamento</mat-label>
                  <input
                      matInput
                      formControlName="nomeLocalArmazenamento"
                      placeholder="Nome"
                      autocomplete="off"
                      type="text"/>
                  <mat-error *ngIf="localArmazenamentoForm.controls.nomeLocalArmazenamento.errors?.required">Nome é Obrigatório</mat-error>
              </mat-form-field>

              <mat-slide-toggle color="primary" fxLayoutGap="10px" fxFlexOffset="10px" fxFlex="30" formControlName="indDocumentoEletronico" style="width: 50%;">
                <span class="ng-tns-c15-3 ng-star-inserted">Documento Eletrônico</span>
              </mat-slide-toggle>

              <mat-slide-toggle color="primary" fxLayoutGap="10px" fxFlexOffset="10px" fxFlex="30" formControlName="indProvedorNacional" style="width: 50%;">
                <span class="ng-tns-c15-3 ng-star-inserted">Provedor Nacional</span>
              </mat-slide-toggle>

              <mat-slide-toggle color="primary" fxLayoutGap="10px" fxFlexOffset="10px" fxFlex="30" formControlName="indNuvem" style="width: 50%;">
                <span class="ng-tns-c15-3 ng-star-inserted">Nuvem</span>
              </mat-slide-toggle>

              <mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
                <mat-label>Nome Provedor Nuvem</mat-label>
                <input
                    matInput
                    formControlName="nomeProvedorNuvem"
                    placeholder="Nome Provedor Nuvem"
                    autocomplete="off"
                    type="text"/>
                <mat-error *ngIf="localArmazenamentoForm.controls.nomeProvedorNuvem.errors?.required">Nome é Obrigatório</mat-error>
              </mat-form-field>

              <mat-form-field style="width: 50%;" fxFlexOffset="5px">   
                <mat-label>Compartilhamento</mat-label>
                <input 
                  matInput
                  formControlName="compartilhamento"
                  placeholder="Compartilhamento"
                  [matAutocomplete]="autoCompartilhamento"/>
    
                <mat-autocomplete #autoCompartilhamento="matAutocomplete" [displayWith]="displayCompartilhamento" (optionSelected) = "selecionaCompartilhamento($event)">
                  <mat-option *ngFor="let compartilhamento of listaCompartilhamentoFiltrados | async" [value]="compartilhamento">
                    {{compartilhamento.nomeCompartilhamento}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field> 
  
              <mat-card-actions>
                <button mat-raised-button color="accent">Salvar</button>
              </mat-card-actions>
          </form>
        </div>
      </div>
</mat-card>
    
  
