<mat-card class="marginContent">
  
  <div class="my-overlay" *ngIf="isLoading">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </div>

  <form [formGroup]="pedidoForm">
    <div fxLayout="row">
      <div fxFlex>
        <mat-form-field>   
          <mat-label>Status</mat-label>            
          <mat-select 
            placeholder="Status"          
            [(value)]="statusSelected"
            formControlName="statusPedido">
            <mat-option
              *ngFor="let option of statusPedidoOptions"
              [value]="option.cod">{{ option.descricao }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>   
          <mat-label>Situação</mat-label>            
          <mat-select 
            placeholder="Situação"
            [(value)]="situacaoSelected"                
            formControlName="situacaoPedido"
            value="0"
            >
            <mat-option
              *ngFor="let option of situacaoPedidoOptions"
              [value]="option.cod">{{ option.descricao }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>   
          <mat-label>Número do Pedido</mat-label>
          <input
            matInput
            formControlName="numeroPedido"
            autocomplete="off"
            type="text"/>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex>
        <mat-form-field>   
          <mat-label>Cliente</mat-label>
          <input
            matInput
            formControlName="cliente"
            autocomplete="off"
            type="number"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Data de Emissão Inicial</mat-label>
          <input
            matInput
            [matDatepicker]="pickerDataEmissaoIni"                
            formControlName="dataEmissaoIni"
            autocomplete="off"
            type="text"/>
            <mat-datepicker-toggle matSuffix [for]="pickerDataEmissaoIni"></mat-datepicker-toggle>
            <mat-datepicker #pickerDataEmissaoIni></mat-datepicker> 
        </mat-form-field>

        <mat-form-field>
          <mat-label>Data de Emissão Final</mat-label>
          <input
            matInput
            [matDatepicker]="pickerDataEmissaoFim"                
            formControlName="dataEmissaoFim"
            autocomplete="off"
            type="text"/>
            <mat-datepicker-toggle matSuffix [for]="pickerDataEmissaoFim"></mat-datepicker-toggle>
            <mat-datepicker #pickerDataEmissaoFim></mat-datepicker> 
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center" class="btn-pesquisar">
      <div fxFlex>
        <mat-card-actions>
          <button (click)="pesquisarPedidos()" mat-raised-button color="accent">Pesquisar</button>
        </mat-card-actions>
      </div>
    </div>

    <div fxLayout="row">
      <div fxFlex>
        <mat-form-field fxFlex="30">
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Buscar Pedido"
          />
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="mat-elevation-z8" style="width: 100%; word-break: inherit; overflow: auto;">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="codigoCliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ element.codigoEmitente }}</td>
      </ng-container>

      <ng-container matColumnDef="razaoSocial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Razão Social</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ element.razaoSocial }}</td>
      </ng-container>

      <ng-container matColumnDef="dataEmissao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Emissão</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ dateToString(element.dataEmissao) }}</td>
      </ng-container>

      <ng-container matColumnDef="numeroPedido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Pedido</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ element.numeroPedido }}</td>
      </ng-container>

      <ng-container matColumnDef="notasFiscais">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nota Fiscal</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ element.notasFiscais }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="situacao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Situação</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ element.situacao }}</td>
      </ng-container>

      <ng-container matColumnDef="valorTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ numberToCurrency(element.valorTotalPedido) }}</td>
      </ng-container>

      <ng-container matColumnDef="dataEntrega">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Entrega</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ dateToString(element.dataEntrega) }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="example-button-row">
            <button
              mat-raised-button
              color="basic"
              matTooltip="Editar"
              [routerLink]="['/pedidos', element.rowid]"
              >
              <mat-icon>edit</mat-icon>
            </button>

          <button
            mat-raised-button
            color="basic"
            matTooltip="Remover"
            (click)="removerPedido(element)">
            <mat-icon>delete</mat-icon>
          </button>

          <!-- <button
            mat-raised-button
            color="basic"
            (click)="enviarTotvs(element)"
            matTooltip="Enviar Para Datasul">
            <mat-icon>send</mat-icon>
          </button> -->

          <button
            mat-raised-button
            color="basic"
            (click)="copiarPedidoFacil(element)"
            matTooltip="Copiar Fácil">
            <mat-icon>content_copy</mat-icon>
          </button>
          <button
            mat-raised-button
            color="basic"
            [routerLink]="['/copiar', element.rowid]"
            matTooltip="Copiar">
            <mat-icon>copy_all</mat-icon>
          </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>
