.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 250px;
}

.circle {
  border-radius: 50%;
}

.with-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  max-height: 130px;
}

.no-shadow {
  box-shadow: none !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
  padding-left: 10px !important;
}

.bottom-to-top {
  border: 0px;
  border-right: 1px;
  border-style: solid;
  border-image: linear-gradient(to top, #c1c1c1, rgba(0, 0, 0, 0)) 1 100%;
}

.ptr-10 {
  padding-right: 10px;
}

.ptt-10 {
  padding-top: 10px;
}

.logo {
  display: block;
  max-height: 50px;
  height: 80%;
  padding-top: 5px;
}

.bottom-img {
  display: block;
  max-height: 230px;
  max-width: 230px;
  width: 80%;
  padding-left: 20px;
}

.bottom-img-wrapper {
  padding-top: 30px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding-bottom: 30px;
}

.logo-bkg{
  background-color: #F8F8F8;
  height: 50px;
  text-align: -webkit-center;
}
