<mat-card class="marginContent">
    <div fxLayout="row">
      <div fxFlex>
        <mat-form-field fxFlex="30">
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Buscar Ciclo Monitoramento"/>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="5px">
        <div fxLayout="column" fxLayoutAlign="start end">
          <a
            mat-raised-button
            color="accent"
            [routerLink]="['/ciclo-monitoramento', '']"
            routerLinkActive="active">
            <mat-icon>add</mat-icon>Novo Ciclo Monitoramento</a>
        </div>
      </div>
    </div>

    <div
      *ngIf="isLoading"
      fxLayout="row"
      fxLayoutAlign="center"
      fxLayoutGap="gappx">
      <mat-spinner></mat-spinner>
    </div>

    <div class="mat-elevation-z8" [hidden]="isLoading">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="nomeEmpresa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Controladora</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ element.nomeEmpresa }}</td>
        </ng-container>

        <ng-container matColumnDef="nomeCicloMonitoramento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ element.nomeCicloMonitoramento }}</td>
        </ng-container>

        <ng-container matColumnDef="dataCompetencia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Competência</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ element.dataCompetencia | date:'MM/yyyy' }}</td>
        </ng-container>



        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div class="example-button-row">
              <button
                mat-raised-button
                color="accent"
                [routerLink]="['/ciclo-monitoramento', element.codCicloMonitoramento]">
                Editar
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card>


