<mat-card class="marginContent">
    <div fxLayout="row">
        <div fxFlex>
            <mat-form-field fxFlex="30">
              <input
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="Buscar Compartilhamento"/>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="5px">
            <div fxLayout="column" fxLayoutAlign="start end">
              <a
                mat-raised-button
                class="add-button"
                [routerLink]="['/priva/compartilhamento', '']"
                routerLinkActive="active">
                <mat-icon>add</mat-icon>Novo Compartilhamento</a>
            </div>
          </div>
    </div>

    <div
      *ngIf="isLoading"
      fxLayout="row"
      fxLayoutAlign="center"
      fxLayoutGap="gappx">
      <mat-spinner></mat-spinner>
    </div>

    <div class="mat-elevation-z0" [hidden]="isLoading">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="nomeCompartilhamento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ element.nomeCompartilhamento }}</td>
        </ng-container>

        <ng-container matColumnDef="nomeAplicacao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Aplicação</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ element.nomeAplicacao }}</td>
        </ng-container>

        <ng-container matColumnDef="nomeModulo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Módulo</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ element.nomeModulo }}</td>
        </ng-container>

        <ng-container matColumnDef="nomeFornecedor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fornecedor</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ element.nomeFornecedor }}</td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div class="example-button-row">
              <button
                mat-raised-button
                class="edit-button"
                [routerLink]="['/priva/compartilhamento/', element.codCompartilhamento]">
                Editar
              </button>
              <button
                *ngIf="permiteExclusao"
                mat-raised-button
                class="delete-button"         
                [disabled]="element.indRelacionamento ? true : false"
                (click)="excluir(element)">
                <span matTooltip="Existe Mapa Associado. Não É Possível Excluir" 
                      [matTooltipDisabled]="!element.indRelacionamento">
                  Excluir
                </span>
              </button>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
</mat-card>