<mat-card class="marginContent" style="width: 95%;">
    <div class="mat-elevation-z8" style="width: 100%;">
      <div style="width: 100%;">
        <form
          fxLayout="column wrap"
          fxLayoutAlign="space-between center"
          fxFlex="100"
          fxFlex.gt-sm="100" 
          [formGroup]="tarefaAgendaForm"
          style="width: 100%;">

          <!--<mat-card-header>
            <mat-card-title>
              <h2 *ngIf="!this.data.codigoTarefa">Nova Tarefa Para {{this.data.nomeTecnico}}</h2>
              <h2 *ngIf="this.data.codigoTarefa">Editar Tarefa</h2>
            </mat-card-title>
          </mat-card-header>     --> 
          
          <br/>

          <mat-form-field style="width: 90%;" >   
            <mat-label>Tarefa</mat-label>
            <input 
              matInput
              formControlName="tarefa"
              placeholder="Tarefa"
              [matAutocomplete]="autoTarefa"/>  

            <mat-autocomplete #autoTarefa="matAutocomplete" [displayWith]="displayTarefaTecnico">
              <mat-option *ngFor="let tarefaTecnico of listaTarefaTecnicoFiltrados | async" [value]="tarefaTecnico">
                Projeto: {{tarefaTecnico.nomeProjeto}} - {{tarefaTecnico.nomeTarefa}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="tarefaAgendaForm.controls.tarefa.errors?.required">Tarefa é Obrigatória</mat-error> 
          </mat-form-field> 

          <mat-form-field style="width: 90%;" >   
            <mat-label>Projeto</mat-label>
            <input 
              matInput
              formControlName="nomeProjeto"
              placeholder="Projeto"
              type="text"/> 
          </mat-form-field> 

          <div fxLayout="row" fxLayoutGap="10px" fxFlexOffset="5px" style="width: 90%">
            <mat-form-field style="width: 50%;" >   
              <mat-label>Horas Alocadas Para Tarefa</mat-label>
              <input 
                matInput
                formControlName="horasAlocadas"
                placeholder="Horas Alocadas Para Tarefa"
                type="text"/> 
            </mat-form-field> 

            <mat-form-field style="width: 50%;" >   
              <mat-label>Horas Disponíveis Para Alocação</mat-label>
              <input 
                matInput
                formControlName="horasDisponiveis"
                placeholder="Horas Disponíveis Para Alocação"
                type="text"/> 
            </mat-form-field> 
          
          </div>

          <div fxLayout="row" fxLayoutGap="10px" fxFlexOffset="5px" style="width: 90%">

            <mat-form-field style="width: 50%;">
              <mat-label>Data/Hora de Início</mat-label>
              <input matInput [ngxMatDatetimePicker]="pickerInicio" 
                              placeholder="Escolha Uma Data/Hora de Início da Tarefa"                             
                              [formControl]="tarefaAgendaForm.controls.dataHoraInicio"
                              [min]="minDate" [max]="maxDate">
              <mat-datepicker-toggle matSuffix [for]="pickerInicio">
              </mat-datepicker-toggle>
              <ngx-mat-datetime-picker #pickerInicio 
                [showSpinners]="true" 
                [stepHour]="1" [stepMinute]="5" 
                [touchUi]="touchUi"
                [color]="color">
              </ngx-mat-datetime-picker>
              <mat-error *ngIf="tarefaAgendaForm.controls.dataHoraInicio.errors?.required">Data/Hora de Início da Tarefa é Inválida</mat-error>
            </mat-form-field>

            <mat-form-field style="width: 50%;">
              <mat-label>Data/Hora de Término</mat-label>
              <input matInput [ngxMatDatetimePicker]="pickerFim" 
                              placeholder="Escolha Uma Data/Hora de Início da Tarefa"                             
                              [formControl]="tarefaAgendaForm.controls.dataHoraFim"
                              [min]="minDate" [max]="maxDate" >
              <mat-datepicker-toggle matSuffix [for]="pickerFim">
              </mat-datepicker-toggle>
              <ngx-mat-datetime-picker #pickerFim 
                [showSpinners]="true" 
                [stepHour]="1" [stepMinute]="5" 
                [touchUi]="touchUi"
                [color]="color">
              </ngx-mat-datetime-picker>
              <mat-error *ngIf="tarefaAgendaForm.controls.dataHoraFim.errors?.required">Data/Hora de Término da Tarefa é Inválida</mat-error>
            </mat-form-field>
          </div>

          <!--<mat-slide-toggle color="primary" style="width: 90%;" formControlName="diaInteiro">
            <span class="ng-tns-c15-3 ng-star-inserted">Dia Inteiro</span>
          </mat-slide-toggle>-->
          <div fxLayout="column" fxLayoutGap="10px" fxFlexOffset="0px" style="width: 90%; align-content: center;">

            <mat-slide-toggle style="width: 100%; align-self: center; display: inline-flex" 
              color="primary" fxFlex="50" formControlName="indDiaInteiro" (change)="trataTarefaDiaInteiro($event.checked)">
              <span class="ng-tns-c15-3 ng-star-inserted" style="overflow: visible;">Dia Inteiro</span>
            </mat-slide-toggle>
          </div>

          <mat-card-actions>
            <button mat-raised-button color="accent"
              (click)="salvarTarefa();"
              href="javascript: void(0);">Salvar</button>
          </mat-card-actions>
        </form>
      </div>
    </div>
  </mat-card>
  

