<mat-card class="marginContent">
    <div class="mat-elevation-z8">
      
      <div *ngIf="isLoading" class="overlay-spinner">
        <div class="center-spinner">
          <mat-spinner style="align-self: center; margin: 0 auto;" ></mat-spinner>
        </div>
      </div>
  
        <div>
          <form
            fxLayout="row wrap"
            fxLayout="column"
            fxLayoutAlign="space-between center"
            fxFlex="100"
            fxFlex.gt-sm="100"
            [formGroup]="cicloDeVidaForm"
            (submit)="salvarCicloDeVida()">
  
              <mat-card-header>
                  <mat-card-title>
                      <h2 *ngIf="!codCicloVida">Novo Ciclo de Vida</h2>
                      <h2 *ngIf="codCicloVida">Editar Ciclo de Vida</h2>
                  </mat-card-title>
              </mat-card-header>
    
              <mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
                  <mat-label>Nome Ciclo de Vida</mat-label>
                  <input
                      matInput
                      formControlName="nomeCicloVida"
                      placeholder="Nome"
                      autocomplete="off"
                      type="text"/>
                  <mat-error *ngIf="cicloDeVidaForm.controls.nomeCicloVida.errors?.required">Nome é Obrigatório</mat-error>
              </mat-form-field> 
  
              <mat-card-actions>
                <button mat-raised-button color="accent">Salvar</button>
              </mat-card-actions>
          </form>
        </div>
      </div>
</mat-card>
    
  
