@media screen and (max-width:768px){
    .remove-button-text  {display:none;}
}

@media screen and (min-width:768px){
    .remove-button-icon  {display:none;}
}

.remove-button-div{
    padding-left: 2rem;
}

.mat-form-field {
    width: 45px;
    padding-right: 1px;
} 

.mat-elevation-z8{
    min-width: 50%;
    max-width: 100%;
    word-break: inherit;
    overflow: auto;
}

.mat-dialog-container{
    height: 90% !important;
}

.cdk-overlay-pane{
    height: 90% !important;
}

 ::ng-deep .percentual div.mat-form-field-infix { width: 15% !important; }