<div fxLayout="column" fxFill fxLayoutAlign="center center" class="authBackground" style="padding-top: 50px;">
    <mat-card class="w-30"> 
      <form 
        fxLayout="row wrap"
        fxLayout="column"
        fxLayoutAlign="space-between center"
        [formGroup]="novaSenhaForm"
        (submit)="criarNovaSenha()">

        <div fxLayout="row" fxLayoutAlign="center center" class="top-img-wrapper">
          <img src="./../../../assets/img/logo.png" class="top-img"/>
        </div>
  
        <mat-card-header>
            <mat-card-title *ngIf="ambiente">
                <h4 *ngIf="ambiente" style="color: firebrick; text-align: center; margin: 0px; margin-top: 10px">{{this.ambiente}}</h4>
                <h3 style="margin: 10px">Cadastrar Nova Senha</h3>
            </mat-card-title>
            <mat-card-title *ngIf="!ambiente">
              <h3>Cadastrar Nova Senha</h3>
          </mat-card-title>
        </mat-card-header>

        <mat-form-field fxFlex style="width: 50%;">
            <mat-label>Nome</mat-label>
            <input
                matInput
                formControlName="nomeUsuario"
                placeholder="Nome"
                autocomplete="off"
                readonly="true"
                type="text"/>
        </mat-form-field>

        <mat-form-field fxFlex style="width: 50%;">
            <mat-label>Email</mat-label>
            <input
                matInput
                formControlName="emailUsuario"
                placeholder="Email"
                autocomplete="off"
                readonly="true"
                type="email"/>
        </mat-form-field>

        <mat-form-field fxFlex style="width: 50%;">
          <mat-label>Nova Senha</mat-label>
          <input
              matInput
              formControlName="novaSenha"
              placeholder="Nova Senha"
              autocomplete="off"                    
              type="password"/>
          <mat-error *ngIf="novaSenhaForm.controls.novaSenha.errors?.required">Nova Senha é Obrigatória</mat-error>
        </mat-form-field>  
        
        <mat-form-field fxFlex style="width: 50%;">
            <mat-label>Confirma Senha</mat-label>
            <input
                matInput
                formControlName="confirmaNovaSenha"
                placeholder="Confirma Senha"
                autocomplete="off"                    
                type="password"/>
            <mat-error *ngIf="novaSenhaForm.controls.confirmaNovaSenha.errors?.required">Confirmação da Senha é Obrigatória</mat-error>
            <mat-error *ngIf="novaSenhaForm.controls.confirmaNovaSenha.hasError('mismatchedPasswords')">Nova Senha e Confirmação da Nova Senha Não São Iguais</mat-error>
        </mat-form-field>

        <mat-card-actions style="padding: 0px;">
            <button mat-raised-button class="save-button">Salvar</button>
        </mat-card-actions>
      </form>
    </mat-card>
    <div class="bottom-img-wrapper">
      <img src="./../../../assets/img/selo.png" class="bottom-img"/>
    </div>
  </div>

  
