<mat-card class="marginContent">
	<div class="mat-elevation-z8">

		<div *ngIf="isLoading" class="overlay-spinner">
			<div class="center-spinner">
				<mat-spinner style="align-self: center; margin: 0 auto;"></mat-spinner>
			</div>
		</div>

		<div>
			<form fxLayout="row wrap" fxLayout="column" fxLayoutAlign="space-between center" fxFlex="100"
				fxFlex.gt-sm="100" [formGroup]="planoMitigacaoForm" (submit)="salvarPlanoMitigacao()">

				<mat-card-header>
					<mat-card-title>
						<h2 *ngIf="!codPlanoMitigacao">Novo Plano de Mitigação</h2>
						<h2 *ngIf="codPlanoMitigacao">Editar Plano de Mitigação</h2>
					</mat-card-title>
				</mat-card-header>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Nome</mat-label>
					<input matInput formControlName="desPlanoMitigacao" placeholder="Descrição Plano Mitigação"
						autocomplete="off" type="string" />
					<mat-error *ngIf="planoMitigacaoForm.controls.desPlanoMitigacao.errors?.required">Descrição Plano
						Mitigação é
						Obrigatório</mat-error>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Observações</mat-label>
					<textarea matInput formControlName="desObservacao" placeholder="Observações" autocomplete="off"
						type="textField" resizeToFitContent="true" rows="5">
                    </textarea>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Data Limite</mat-label>
					<input matInput formControlName="dataLimite" placeholder="Data Limite" [matDatepicker]="picker6" />
					<mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
					<mat-datepicker #picker6></mat-datepicker>
					<mat-error *ngIf="planoMitigacaoForm.controls.dataLimite.errors?.required">data limite é Obrigatória
					</mat-error>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Propõe Ajustes</mat-label>
					<input matInput formControlName="nomePropoeAjustes" placeholder="Propõe Ajustes" autocomplete="off"
						type="textfield" />
					<mat-error *ngIf="planoMitigacaoForm.controls.nomePropoeAjustes.errors?.required">Nome propõe ajuste
						é
						Obrigatório</mat-error>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Nome Aprovador</mat-label>
					<input matInput formControlName="nomeAprovador" placeholder="Nome Aprovador" autocomplete="off"
						type="string" />
					<mat-error *ngIf="planoMitigacaoForm.controls.nomeAprovador.errors?.required">Nome Aprovador é
						Obrigatório </mat-error>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Data Elaboração</mat-label>
					<input matInput formControlName="dataElaboracao" placeholder="Data Elaboração"
						[matDatepicker]="picker5" />
					<mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
					<mat-datepicker #picker5></mat-datepicker>
					<mat-error *ngIf="planoMitigacaoForm.controls.dataElaboracao.errors?.required">data Elaboração é
						Obrigatória
					</mat-error>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Data Aditivação</mat-label>
					<input matInput formControlName="dataAditivacao" placeholder="Data Aditivação"
						[matDatepicker]="picker1" />
					<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
					<mat-datepicker #picker1></mat-datepicker>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Data Revisão</mat-label>
					<input matInput formControlName="dataRevisao" placeholder="Data Revisão"
						[matDatepicker]="picker2" />
					<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
					<mat-datepicker #picker2></mat-datepicker>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Data Recusa</mat-label>
					<input matInput formControlName="dataRecusa" placeholder="Data Recusa" [matDatepicker]="picker3" />
					<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
					<mat-datepicker #picker3></mat-datepicker>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Motivo Recusa</mat-label>
					<textarea matInput formControlName="desMotivoRecusa" placeholder="Descrição Motivo Recusa"
						autocomplete="off" type="textField" resizeToFitContent="true" rows="5">	</textarea>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Data Status</mat-label>
					<input matInput formControlName="dataStatus" placeholder="Data Status" [matDatepicker]="picker4" readonly/>
				</mat-form-field>

				<mat-card-actions>
					<button mat-raised-button color="accent">Salvar</button>
					<button mat-raised-button color="primary"
						(click)="navigateToDataAnalasysMap(element)">Voltar</button>
				</mat-card-actions>
			</form>
		</div>
	</div>

	<mat-expansion-panel *ngIf="codPlanoMitigacao" [expanded]="true" class="nested-form mat-elevation-z8 marginContent">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Documentos
			</mat-panel-title>
		</mat-expansion-panel-header>

		<div class="marginContent">
			<div fxLayout="row">
				<div fxFlex>
					<mat-form-field fxFlex="30">
						<input matInput (keyup)="applyFilterDocumentoPlano($event.target.value)"
							placeholder="Buscar documento" />
					</mat-form-field>
				</div>
				<div fxLayout="row" fxLayoutGap="5px">
					<div fxLayout="column" fxLayoutAlign="start end">
						<a mat-raised-button color="accent"
							[routerLink]="['/data-analisys-map', codDataMap, 'plano-mitigacao', codPlanoMitigacao, 'documento-plano', '']"
							routerLinkActive="active">
							<mat-icon>add</mat-icon>Novo Documento
						</a>
					</div>
				</div>
			</div>

			<div class="mat-elevation-z8" [hidden]="isLoading">
				<table mat-table [dataSource]="dataSourceDocumentoPlano" matSort>
					<ng-container matColumnDef="desDocumentoPlano">
						<th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
						<td mat-cell *matCellDef="let element; let i = index">{{ element.desDocumentoPlano }}</td>
					</ng-container>

					<ng-container matColumnDef="actions">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let element">
							<div class="example-button-row">
								<button mat-raised-button color="primary"
									(click)="openNewWindow(element)">
									Visualizar Documento
								</button>
								<button mat-raised-button color="accent"
									[routerLink]="['/data-analisys-map', codDataMap, 'plano-mitigacao', codPlanoMitigacao, 'documento-plano', element.codDocumentoPlano]">
									Editar
								</button>
							</div>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
				</table>
			</div>
		</div>

	</mat-expansion-panel>

</mat-card>