<mat-card class="marginContent">
	<div class="mat-elevation-z8">

		<div *ngIf="isLoading" class="overlay-spinner">
			<div class="center-spinner">
				<mat-spinner style="align-self: center; margin: 0 auto;"></mat-spinner>
			</div>
		</div>

		<div>
			<form fxLayout="row wrap" fxLayout="column" fxLayoutAlign="space-between center" fxFlex="100"
				fxFlex.gt-sm="100" [formGroup]="dataFlowForm" (submit)="salvarDataFlow()">

				<mat-card-header>
					<mat-card-title>
						<h2 *ngIf="!dataFlowId">Novo Data Flow</h2>
						<h2 *ngIf="dataFlowId">Editar Data Flow</h2>
					</mat-card-title>
				</mat-card-header>

				<mat-form-field style="width: 50%;" fxFlexOffset="10px">
					<mat-label>Empresa</mat-label>
					<input matInput formControlName="empresa" placeholder="Empresa" [matAutocomplete]="autoEmpresa" />

					<mat-autocomplete #autoEmpresa="matAutocomplete" [displayWith]="displayEmpresa"
						(optionSelected)="selecionaEmpresa($event)">
						<mat-option *ngFor="let empresa of listaEmpresasFiltradas | async" [value]="empresa">
							{{empresa.nomeEmpresa}}
						</mat-option>
					</mat-autocomplete>
					<mat-error *ngIf="dataFlowForm.controls.empresa.errors?.required">Empresa é Obrigatória</mat-error>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Ciclo de Monitoramento</mat-label>
					<input matInput formControlName="codCicloMonitoramento" placeholder="Ciclo de Monitoramento"
						autocomplete="off" type="string" readonly />
					<mat-error *ngIf="dataFlowForm.controls.codCicloMonitoramento.errors?.required">Campo é obrigatório
					</mat-error>
				</mat-form-field>

				<mat-form-field style="width: 50%;" fxFlexOffset="10px">
					<mat-label>Área</mat-label>
					<input matInput formControlName="area" placeholder="Area" [matAutocomplete]="autoArea" />

					<mat-autocomplete #autoArea="matAutocomplete" [displayWith]="displayArea"
						(optionSelected)="selecionaArea($event)">
						<mat-option *ngFor="let area of listaAreasFiltradas | async" [value]="area">
							{{area.nomeArea}}
						</mat-option>
					</mat-autocomplete>
					<mat-error *ngIf="dataFlowForm.controls.area.errors?.required">Area é Obrigatória</mat-error>
				</mat-form-field>


				<mat-form-field style="width: 50%;" fxFlexOffset="10px">
					<mat-label>Processo</mat-label>
					<input matInput formControlName="processo" placeholder="Processo"
						[matAutocomplete]="autoProcesso" />

					<mat-autocomplete #autoProcesso="matAutocomplete" [displayWith]="displayProcesso"
						(optionSelected)="selecionaProcesso($event)">
						<mat-option *ngFor="let processo of listaProcessosFiltradas | async" [value]="processo">
							{{processo.nomeProcesso}}
						</mat-option>
					</mat-autocomplete>
					<mat-error *ngIf="dataFlowForm.controls.processo.errors?.required">Processo é Obrigatória
					</mat-error>
				</mat-form-field>				

				<mat-form-field style="width: 50%;" fxFlexOffset="10px">
					<mat-label>Atividade</mat-label>
					<input matInput formControlName="atividade" placeholder="Atividade"
						[matAutocomplete]="autoAtividade" />
					<mat-autocomplete #autoAtividade="matAutocomplete" [displayWith]="displayAtividade"
						(optionSelected)="selecionaAtividade($event)">
						<mat-option *ngFor="let atividade of listaAtividade" [value]="atividade">
							{{atividade.nomeAtividade}}
						</mat-option>
					</mat-autocomplete>
					<mat-error *ngIf="dataFlowForm.controls.atividade.errors?.required">Atividades é Obrigatório
					</mat-error>
				</mat-form-field>

				<mat-form-field style="width: 50%;" fxFlexOffset="10px">
					<mat-label>Metadados</mat-label>
					<input matInput formControlName="metadados" placeholder="Metadados"
						[matAutocomplete]="autoMetadados" readonly />
					<mat-autocomplete #autoMetadados="matAutocomplete" [displayWith]="displayMetadados"
						(optionSelected)="selecionaMetadados($event)">
						<mat-option *ngFor="let metadados of listaMetadados" [value]="metadados">
							{{metadados.nomeMetadados}}
						</mat-option>
					</mat-autocomplete>
					<mat-error *ngIf="dataFlowForm.controls.metadados.errors?.required">É Obrigatório</mat-error>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Nome Processamento</mat-label>
					<input matInput formControlName="nomeProcessamento" placeholder="Nome Processamento"
						autocomplete="off" type="string" />
					<mat-error *ngIf="dataFlowForm.controls.nomeProcessamento.errors?.required">Nome Processamento é
						Obrigatório
					</mat-error>
				</mat-form-field>

				<mat-slide-toggle color="primary" fxLayoutGap="10px" fxFlexOffset="10px" fxFlex="30"
					formControlName="indDescarte" style="width: 50%;">
					<span class="ng-tns-c15-3 ng-star-inserted">Possuí descarte</span>
				</mat-slide-toggle>

				<mat-radio-group color="primary" fxFlex fxLayoutGap="30px" style="width: 50%;" fxFlexOffset="30px" 
					formControlName="indRisco">
					<mat-label>Risco:</mat-label>
					<mat-radio-button value="1">Baixo</mat-radio-button>
					<mat-radio-button value="2">Moderado</mat-radio-button>
					<mat-radio-button value="3">Elevado</mat-radio-button>
					<mat-radio-button value="4">Extremo</mat-radio-button>
				</mat-radio-group>

				<mat-form-field style="width: 50%;" fxFlexOffset="30px">
					<mat-label>Ciclo Vida</mat-label>
					<input matInput formControlName="cicloVida" placeholder="Ciclo Vida"
						[matAutocomplete]="autoCicloVida" />
					<mat-autocomplete #autoCicloVida="matAutocomplete" [displayWith]="displayCicloVida"
						(optionSelected)="selecionaCicloVida($event)">
						<mat-option *ngFor="let cicloVida of listaCicloVida" [value]="cicloVida">
							{{cicloVida.nomeCicloVida}}
						</mat-option>
					</mat-autocomplete>
					<mat-error *ngIf="dataFlowForm.controls.cicloVida.errors?.required">É Obrigatório</mat-error>
				</mat-form-field>

				<mat-form-field style="width: 50%;" fxFlexOffset="10px">
					<mat-label>Usuários</mat-label>
					<mat-select matInput formControlName="usuarios" multiple placeholder="Usuários"
						[compareWith]="compareUsuarioSelecionado" [(ngModel)]="usuarioSelecionado">
						<mat-option *ngFor="let usuario of listaUsuariosFiltrados" [value]="usuario">
							{{usuario.nomeUsuario}}
						</mat-option>
					</mat-select>

					<mat-error *ngIf="dataFlowForm.controls.usuarios.errors?.required">Usuário é Obrigatório</mat-error>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Local de Armazanamento</mat-label>
					<mat-select matInput formControlName="armazenamentos" multiple placeholder="selecione..."
						[compareWith]="compareArmazenamento" [(ngModel)]="armazenamentoSelecionado">
						<mat-option *ngFor="let armazenamento of listaArmazenamentosFiltrados" [value]="armazenamento">
							{{armazenamento.nomeLocalArmazenamento}}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Compartilhamentos</mat-label>
					<mat-select matInput formControlName="compartilhamentos" multiple placeholder="selecione..."
						[compareWith]="compareCompartilhamento" [(ngModel)]="compartilhamentoSelecionado">
						<mat-option *ngFor="let compartilhamento of listaCompartilhamentosFiltrados"
							[value]="compartilhamento">
							{{compartilhamento.nomeCompartilhamento}}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-card-actions>
					<button mat-raised-button color="accent">Salvar</button>
				</mat-card-actions>
			</form>
		</div>
	</div>
</mat-card>