
<mat-card class="marginContent">
	<div class="mat-elevation-z8">

		<div *ngIf="isLoading" class="overlay-spinner">
			<div class="center-spinner">
				<mat-spinner style="align-self: center; margin: 0 auto;"></mat-spinner>
			</div>
		</div>

		<div>
			<form fxLayout="row wrap" fxLayout="column" fxLayoutAlign="space-between center" fxFlex="100"
				fxFlex.gt-sm="100" [formGroup]="form" (submit)="salvar()">

				<mat-card-header>
					<mat-card-title>
						<h2 *ngIf="!codigoSolicitacaoTitular">Novo Solicitação de Titular</h2>
						<h2 *ngIf="codigoSolicitacaoTitular && indStatus === 1">Editar Solicitação de Titular</h2>
						<h2 *ngIf="codigoSolicitacaoTitular && (indStatus === 2 || indStatus === 3)">Visualizar Solicitação de Titular</h2>
					</mat-card-title>
				</mat-card-header>
				
				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Protocolo</mat-label>
					<input
						matInput
						formControlName="numeroProtocolo"
						placeholder="Protocolo"
						autocomplete="off"
						readonly="true"
						type="text"/>
				</mat-form-field>


				<mat-form-field style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Controladora</mat-label>
					<input matInput 
						formControlName="empresa" 
						placeholder="Controladora" 
						[matAutocomplete]="autoEmpresa" 
						[readonly]="codigoSolicitacaoTitular > 0 || usuarioAdmin === false"/>

					<mat-autocomplete #autoEmpresa="matAutocomplete" [displayWith]="displayEmpresa"
						(optionSelected)="selecionaEmpresa($event)">
						<mat-option *ngFor="let empresa of listaEmpresasFiltradas | async" [value]="empresa">
							{{empresa.nomeEmpresa}}
						</mat-option>
					</mat-autocomplete>
					<mat-error *ngIf="form.controls.empresa.errors?.required">Controladora é Obrigatória</mat-error>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Nome do Titular</mat-label>
					<input
						matInput
						formControlName="desNomeTitular"
						placeholder="Nome do Titular"
						autocomplete="off"
						type="text"
						[readonly]="codigoSolicitacaoTitular > 0"/>
					<mat-error *ngIf="form.controls.desNomeTitular.errors?.required">Nome do Titular é Obrigatório</mat-error>	
				</mat-form-field>

				<div style="width: 50%;" fxFlexOffset="5px">
					<mat-form-field fxFlex style="width: 35%;">
						<mat-label>CPF Titular</mat-label>
						<input
							matInput
							formControlName="numeroCpfTitular"
							placeholder="CPF Titular"
							mask="000.000.000-00"
							autocomplete="off"
							type="text"
							[readonly]="codigoSolicitacaoTitular > 0"/>
						<mat-error *ngIf="form.controls.numeroCpfTitular.errors?.required">CPF do Titular é Obrigatório</mat-error>
						<mat-error *ngIf="form.controls.numeroCpfTitular.hasError('invalidCPF')">CPF do Titular não é Válido</mat-error>
					</mat-form-field>

					<mat-form-field fxFlex style="width: 65%;" fxFlexOffset="5px">
						<mat-label>Documento Identificação Titular</mat-label>
						<input
							matInput
							formControlName="numeroDocumentoTitular"
							placeholder="Documento Identificação Titular"
							autocomplete="off"
							type="text"
							[readonly]="codigoSolicitacaoTitular > 0"/>
						<mat-error *ngIf="form.controls.numeroDocumentoTitular.errors?.required">Documento do Titular é Obrigatório</mat-error>
					</mat-form-field>
				</div>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Nome do Representante</mat-label>
					<input
						matInput
						formControlName="desNomeRepresentante"
						placeholder="Nome do Representante"
						autocomplete="off"
						type="text"
						[readonly]="codigoSolicitacaoTitular > 0"/>
				</mat-form-field>

				<div style="width: 50%;" fxFlexOffset="5px">
					<mat-form-field fxFlex style="width: 35%;">
						<mat-label>CPF Representante</mat-label>
						<input
							matInput
							formControlName="numeroCpfRepresentante"
							placeholder="CPF Representante"
							mask="000.000.000-00"
							autocomplete="off"
							type="text"
							[readonly]="codigoSolicitacaoTitular > 0"/>
						<mat-error *ngIf="form.controls.numeroCpfRepresentante.hasError('invalidCPF')">CPF do Representante não é Válido</mat-error>
					</mat-form-field>

					<mat-form-field fxFlex style="width: 65%;" fxFlexOffset="5px">
						<mat-label>Documento Identificação Representante</mat-label>
						<input
							matInput
							formControlName="numeroDocumentoRepresentante"
							placeholder="Documento Identificação Representante"
							autocomplete="off"
							type="text"
							[readonly]="codigoSolicitacaoTitular > 0"/>
						<mat-error *ngIf="form.controls.numeroDocumentoRepresentante.errors?.required">Documento do Representante é Obrigatório</mat-error>
					</mat-form-field>
				</div>

				<mat-radio-group color="primary" fxLayout="column" fxFlex fxLayoutGap="5px" style="width: 50%;" fxFlexOffset="5px"
					formControlName="indDireito">
					<mat-label>Direito a Ser Exercido:</mat-label>
					<mat-radio-button 
						*ngFor="let button of direitoSolicitacaoTitularButtons.buttons" 
						[value]="button.cod">{{button.description}}</mat-radio-button>			
				</mat-radio-group>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="20px">
					<mat-label>Email Para Retorno</mat-label>
					<input
						matInput
						formControlName="emailTitular"
						placeholder="Email Para Retorno"
						autocomplete="off"
						type="email"
						[readonly]="codigoSolicitacaoTitular > 0"/>
					<mat-error *ngIf="form.controls.emailTitular.errors?.required">Email Para Retorno é Obrigatório</mat-error>
					<mat-error *ngIf="form.controls.emailTitular.hasError('invalidEmail')">Email Informado não é Válido</mat-error>
				</mat-form-field>

				<div style="width: 50%;" fxFlexOffset="5px">
					<mat-form-field fxFlex style="width: 50%;" >
						<mat-label>Data de Inclusão</mat-label>
							<input matInput [matDatepicker]="pickerInclusao" 
								[readonly]="true"
								[formControl]="form.controls.dataInclusao">
								<mat-datepicker-toggle  matSuffix [for]="pickerInclusao"></mat-datepicker-toggle>
								<ngx-mat-datetime-picker #pickerInclusao
									[showSpinners]="false"
									[disabled]="true"
									[hideTime]="true"></ngx-mat-datetime-picker>	

					</mat-form-field>

					<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px" >
						<mat-label>Data de Previsão de Retorno</mat-label>
							<input matInput [matDatepicker]="pickerPrevisaoRetorno" 
								[formControl]="form.controls.dataPrevisaoRetorno"
								[readonly]="codigoSolicitacaoTitular > 0">
								<mat-datepicker-toggle  matSuffix [for]="pickerPrevisaoRetorno"></mat-datepicker-toggle>
								<ngx-mat-datetime-picker #pickerPrevisaoRetorno
									[showSpinners]="false"
									[disabled]="codigoSolicitacaoTitular > 0"
									[hideTime]="true"></ngx-mat-datetime-picker>	

					</mat-form-field>
				</div>

				<mat-form-field style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Usuário</mat-label>
					<input matInput formControlName="usuario" placeholder="Usuário" [matAutocomplete]="autoUsuario" [readonly]="true"/>

					<mat-autocomplete #autoUsuario="matAutocomplete" [displayWith]="displayUsuario">
						<mat-option *ngFor="let usuario of listaUsuariosFiltrados | async" [value]="usuario">
							{{usuario.nomeUsuario}}
						</mat-option>
					</mat-autocomplete>
					<mat-error *ngIf="form.controls.usuario.errors?.required">Usuário é Obrigatório</mat-error>
				</mat-form-field>
				
				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Data de Retorno</mat-label>
						<input matInput [matDatepicker]="pickerRetorno" 
							placeholder="Selecione a data de Retorno"
							[formControl]="form.controls.dataRetorno"
							[readonly]="this.indStatus === 2 || this.indStatus === 3">
							<mat-datepicker-toggle  matSuffix [for]="pickerRetorno"></mat-datepicker-toggle>
							<ngx-mat-datetime-picker #pickerRetorno
								[showSpinners]="false"
								[disabled]="this.indStatus === 2 || this.indStatus === 3"
								[hideTime]="true"></ngx-mat-datetime-picker>	
						<mat-error *ngIf="form.controls.dataRetorno.errors?.required">Data de Retorno é Obrigatória</mat-error>		
				</mat-form-field>

				<mat-form-field style="width: 50%;" fxFlexOffset="10px">
					<mat-label>Status</mat-label>
					<mat-select
						placeholder="Status"
						formControlName="indStatus">
						<mat-option
							*ngFor="let button of statusSolicitacaoTitularButtons.buttonsForm"
							[value]="button.cod">{{ button.description }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
					<mat-label>Retorno / Observações</mat-label>
					<textarea matInput formControlName="desObservacoes" 
						placeholder="Retorno / Observações"
						autocomplete="off"
						[readonly]="this.indStatus === 2 || this.indStatus === 3"
						type="textField" resizeToFitContent="true" rows="5">
					</textarea>
				</mat-form-field>

				<mat-card-actions>
					<button *ngIf="(indStatus != 2 && indStatus != 3) || codigoSolicitacaoTitular===0" mat-raised-button class="save-button">Salvar</button>
					<button *ngIf="(indStatus === 2 || indStatus === 3) && codigoSolicitacaoTitular!=0" mat-raised-button class="action-button"
						    (click)="navigateToList()">Voltar</button>
				</mat-card-actions>
			</form>
		</div>
	</div>
</mat-card>