<mat-card class="marginContent">
  <div class="mat-elevation-z8">

    <div *ngIf="isLoading" class="overlay-spinner">
      <div class="center-spinner">
        <mat-spinner style="align-self: center; margin: 0 auto;"></mat-spinner>
      </div>
    </div>

    <div>
      <form fxLayout="row wrap" fxLayout="column"
        fxLayoutAlign="space-between center" fxFlex="100" fxFlex.gt-sm="100"
        [formGroup]="documentoPlanoForm" (submit)="salvarDocumentoPlano()">

        <mat-card-header>
          <mat-card-title>
            <h2 *ngIf="!codDocumentoPlano">Novo Documento</h2>
            <h2 *ngIf="codDocumentoPlano">Editar Documento</h2>
          </mat-card-title>
        </mat-card-header>

        <mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="desDocumentoPlano" placeholder="Descrição documento" autocomplete="off"
            type="string" />
          <mat-error *ngIf="documentoPlanoForm.controls.desDocumentoPlano.errors?.required">Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex style="width: 50%;" fxFlexOffset="5px">
          <mat-label>Endereço</mat-label>
          <input matInput formControlName="desEnderecoPlano" placeholder="Descrição endereço" autocomplete="off"
            type="string" />
          <mat-error *ngIf="documentoPlanoForm.controls.desEnderecoPlano.errors?.required">Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-card-actions>
          <button mat-raised-button color="accent">Salvar</button>
        </mat-card-actions>
      </form>
    </div>
  </div>
</mat-card>
